{
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "vdom.createElement",
      "throwIfNamespace": false
    }],
    [
      "@babel/transform-runtime"
    ]
  ],
  "presets": ["@babel/preset-env"]
}

